/* <div class="lopgia">
<div class="modal-thongbao">
   <p class="dong-modal">
      <i class="fa-solid fa-xmark"></i>
      </p>
    <p class="nd-modal"> Bạn đã đặt hàng thành công !</p>
 
</div>
</div> */
/* cấu trúc */
.dong-modal{
    position: absolute;
    right: 20px;
    top:10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-align: center;
}
.dong-modal:hover{
    color: red;
}
.dong-modal p{
    font-weight:900 bold;
    width: 100%;
    height: 100%;
    
}
.icon-ctt{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 30px;
    top:25%;
}
.icon-ctt img{
    height: 50px;
    width: 80px;
}

.nd-modal{
    position: absolute;
    top:50%;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: green;
    font-weight: 700;

}
.modal-thongbao{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 200px;
    position: relative;
    cursor: pointer;
    
}
.lopgia{
    display: flex;
    justify-content: center ;
    position: absolute;
    height: 200vw;
    width: 100vw;
    background-color: #00000075;
    z-index: 2000;
}
@media only screen and (max-width:768px){
    .modal-thongbao{
        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 20px;
        margin-top: 500px;
        position: relative;
        cursor: pointer;
        
    }
    .lopgia{
        display: flex;
        justify-content: center ;
        position: absolute;
        height: 600vw;
        width: 100vw;
        background-color: #00000075;
        z-index: 2000;
    }
}